<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<link href="https://fonts.googleapis.com/css?family=Nunito"
		rel="stylesheet" />
	<link rel="stylesheet" href="css/custom.css" />
	<link href="#{request.contextPath}/css/primeface.css" rel="stylesheet"
		type="text/css" />
</h:head>
<h:body>
	<h:form>
		<p:growl id="msgs" showDetail="false" autoUpdate="true" />
		<div class="cadastro">
			<p:fieldset legend="Cadastro">

				<h:outputLabel value="Nome: " />
				<p:inputText value="#{usuarioMB.usuario.nome}" size="60"
					required="true" requiredMessage="Campo nome é obrigatório" />

				<h:panelGrid columns="4" style="margin-bottom:10px" cellpadding="5">

					<h:outputLabel value="CPF:" />
					<p:inputMask id="cpf" value="#{usuarioMB.usuario.cpf}"
						mask="999.999.999-99" size="12" required="true"
						requiredMessage="Campo CPF é obrigatorio" />

					<h:outputLabel value="Data Nascimento:    " />
					<p:calendar value="#{usuarioMB.usuario.dtNascimento}"
						id="dtNascimento" required="true"
						requiredMessage="Campo Data de Nascimento é obrigatorio" 
						pattern="dd-MM-yyyy" mask="true" />

					<h:outputText value="Senha: " />
					<p:password id="senha" required="true"
						validatorMessage="A senha deve conter no minimo 6 caracteres"
						requiredMessage="Campo Senha é obrigatorio"
						value="#{usuarioMB.usuario.senha}" feedback="true" size="12"
						minLenght="8" maxlength="16">
						<f:validateLength minimum="6"></f:validateLength>
					</p:password>

					<h:outputLabel value="Sexo: " />
					<p:selectOneRadio id="sexo" value="#{usuarioMB.usuario.sexo}">
						<f:selectItem itemLabel="Masculino" itemValue="M" />
						<f:selectItem itemLabel="Feminino" itemValue="F" />
					</p:selectOneRadio>



<!-- 					<h:outputLabel value="Peso: " />
					<p:inputMask value="#{pesoAltura_CPFMB.pesoAltura_CPF.peso}" mask="999.9"
						size="4" required="true"
						requiredMessage="Campo Peso é obrigatorio" />

					<h:outputLabel value="Altura: " />
					<p:inputMask value="#{pesoAltura_CPFMB.pesoAltura_CPF.altura}" mask="9.99"
						size="3" required="true"
						requiredMessage="Campo Altura obrigatorio" /> -->

				</h:panelGrid>

				<div class="btn-cad">
					<h:panelGrid columns="6" cellpadding="8">
						<p:commandButton value="Confirmar" update="@form"
							action="#{usuarioMB.salvarUsuario}"  />
						<p:commandButton update="@form"
							actionListener="#{usuarioMB.clear}" value="Cancelar"
							immediate="true" action="index" />
					</h:panelGrid>
									
					
				</div>
			</p:fieldset>
		</div>
	</h:form>
</h:body>
</html>