<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<link href="https://fonts.googleapis.com/css?family=Nunito"
		rel="stylesheet" />
	<link rel="stylesheet" href="css/custom.css" />
	<link href="#{request.contextPath}/css/primeface.css" rel="stylesheet"
		type="text/css" />
</h:head>
<h:body>

	<div class="home">
	
		<h:panelGrid>
			<h:outputLabel value="Peso: " />
				<p:inputMask value="#{pesoAltura_CPFMB.pesoAltura_CPF.peso}" mask="999.9"
						size="4" />

					<h:outputLabel value="Altura: " />
					<p:inputMask value="#{pesoAltura_CPFMB.pesoAltura_CPF.altura}" mask="9.99"
						size="3" />
					<h:outputLabel value="CPF"/>
					<p:inputMask value="#{pesoAltura_CPFMB.pesoAltura_CPF.cpfId}" mask="999.999.999-99" />
					</h:panelGrid>
					
					<h:panelGrid columns="6" cellpadding="8">
						<p:commandButton value="Confirmar" 
							action="#{pesoAltura_CPFMB.salvar}"  />
		</h:panelGrid>
	
		<h:form>
			<p:growl id="msgs" showDetail="false" autoUpdate="true" />
			<p:fieldset legend="Dados">
				<h:panelGrid columns="8" cellpadding="7">
			CPF:<h:outputText value="#{loginUsuario.usuarioSessao.cpf}"/>
			Nome:<h:outputText value="#{loginUsuario.usuarioSessao.nome}"/>
        	Peso:<h:outputText value="#{loginBean.usuarioSessao.peso} kg" /> 
        	Altura:<h:outputText
						value="#{loginBean.usuarioSessao.altura} m" />
        	IMC:<h:outputText value="#{loginBean.usuarioSessao.imc}">
						<f:convertNumber maxFractionDigits="2" />
					</h:outputText>

				</h:panelGrid>
			</p:fieldset>
		</h:form>
</div>
	<div class="chart">
		<h:panelGrid columns="2" columnClasses="left,right" style="width:100%">
    		<p:chart type="line" model="#{chartView.animatedModel1}" style="width:400px;" />
		</h:panelGrid>
	</div>
</h:body>
</html>