<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="stylesheet" href="css/style-login.css" />
	<link rel="stylesheet" href="css/custom.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito"
		rel="stylesheet" />
</h:head>
<h:body>
<div class="fundo">
	<h:form>
		<p:growl id="msgs" showDetail="false" autoUpdate="true" />
		<div class="form-login">
			<div class="user"></div>

			<h:panelGrid columns="2" position="center">
				<p:inputMask id="cpf" mask="999.999.999-99" placeholder="CPF"
					value="#{loginUsuario.cpf}" required="true"
					requiredMessage="Informe o CPF!" />
				<p:password id="nonFeedback" value="#{loginUsuario.senha}"
					placeholder="Senha" required="true"
					requiredMessage="Informe a senha!" />
			</h:panelGrid>
			
			<h:commandButton name="lastname" value="Login"
				action="#{loginUsuario.logar}" />

			<div class="register">
				<a href="cadastroPaciente.xhtml">Registre-se aqui.</a>
			</div>
		</div>
	</h:form>
	</div>
</h:body>
</html>