* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: #e1eaf2;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%;
}

.form-login {
	top: calc(50vh - 165px);
	width: 300px;
	height: 330px;
	margin: 0 auto;
	border: 1px solid #4375A3;
	border-radius: 9px;
	padding: 10px;
	padding-top: 130px;
	background-color: #4375A3;
	color: white;
	padding-left: 32px;
	position: relative;
}

.form-login input:NTH-CHILD(1) {
	top: 100px;
}

td {
	width: 100px;
	display: block;
	padding: 5px;
}

td:NTH-CHILD(1) input {
	background-image: url("../img/user.png");
	background-size: 8%;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: 6px 5px;
	width: 222px;
}

td:NTH-CHILD(2) input {
	background-image: url("../img/password.png");
	background-size: 8%;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: 6px 5px;
	width: 222px;
}

.form-login input:NTH-CHILD(3) {
	background-color: #2D4F6E;
	width: 222.667px;
	position: absolute;
	left: calc(50% - 111px);
	color: #fff;
	border: none;
	padding: 5px;
	border-radius: 4px;
	font-size: 17px;
}

.form-login input:NTH-CHILD(3):hover {
	box-shadow: 0 0 4px black;
}

.register {
	width: 100%;
	left: calc(50% - 50px);
	bottom: 30px;
	position: absolute;
	font-size: 13px;
}

.register a:hover {
	color: #7EC044;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}

.user {
	width: 200px;
	height: 120px;
	background-image : url("../img/metrica.png");
	background-size: cover;
	position: absolute;
	left: calc(50% - 100px);
	top: 10px;
	transform : rotate(180deg);
}

.ui-growl{
 opacity: 1.0;
 background-color: #EBF0F5;
}